
<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>VOICY</title>
        </head>
          <body>
            <div class="banner-wrapper">

              <div class="banner-container" style="background-image: url('<%= image_url "theater.jpg" %>')">
                <div class="banner-content">
                <h1 class= "police-title">VOICY</h1>
                <p class="text-center">Votre voix au cinéma</p>
                  <%= link_to "Login", new_user_session_path, class: "btn btn-danger btn-block" %>
                  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-block" %>

                 <!--  <p><button type="button" class="btn-home btn-danger btn-block" href="#">Login</button></p>

                  <p><button type="button" class="btn-home btn-danger btn-block" href="#">Sign Up</button></p> -->
                </div>
              </div>
            </div>
          </body>
  </html>
<!-- #af0101 -->

<!--
 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.com/search/photos/cinema?photo=4SLz_RCk6kQ');"> -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

</body>
</html> -->
