<html>
<head>
  <meta charset="UTF-8">
  <title class="police-title">Document</title>
</head>
<body class="police-title">
<h1 class="police-title">Projects#index</h1>
<p class="police-title">Find me in app/views/projects/index.html.erb</p>
<%= link_to "Creer un nouveau projet", new_project_path, class: "btn btn-danger" %>
<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project) %>
      <%= link_to project_path(project), data: "fdfd", method: :delete do %>
        <i class="fa fa-close"></i>
        <% end %>
    </li>
  <% end %>
</ul>
