<div class= "container-form">
  <h1 class="police-title">Create a new project of : <%= current_user.first_name %></h1>
  <%= render 'shared/form' %>
  <%= link_to "Retour a la liste des projets", projects_path, class: "btn btn-danger btn-project" %>
</div>
