<h2>Nom du projet :<%= @project.name %></h2>
<p>description : <%= @project.description %></p>

<ul>
  <h4>Liste des participants au projet :</h4>
  <% @project.users.each do |participant|  %>
    <li><%= participant.first_name %></li>
  <% end  %>
</ul>
