
.alert-info {
    background: #af0101;
    border-color: #af0101;
}

label {
  font-family: 'Archivo', sans-serif, semi-bold;
}

.police-title {
  font-family: 'Archivo', sans-serif, semi-bold;
}

.btn {
  border-radius: 5px;
}

.form-control {
  width: 150%;
}

body {
  position: absolute;
  background-color: #E6E6E6;
  color: #616668;
  position: relative;
  align-self: center;
}

.container-form {
  position: absolute;
  padding: 90px;
}
.btn {
  background-color: #af0101;
}

.btn-project{

}
