.background-edit{
  color: black;
}

// .container {
//   background-color: #333;
//   color: #f2efef;
// }
label {
  font-family: 'Archivo', sans-serif, semi-bold;
}
h1 {
  font-family: 'Archivo', sans-serif, semi-bold;
}
.btn {
  border-radius: 5px;
}
.form-control {

}
.container-edit {

}
body {
  position: absolute;
  background-color: #E6E6E6;
  color: #616668;
  position: relative;
}
// #616668

.container-edit {
  position: absolute;
  padding: 90px;
}
.radio_buttons {
  position: relative;
}
.btn {
  background-color: #af0101;
}
.radio_buttons {
 // margin: 5px;
 // padding: 5px;
}
