label {
  font-family: 'Archivo', sans-serif, semi-bold;
}
.police-title {
  font-family: 'Archivo', sans-serif, semi-bold;
}
.btn {
  border-radius: 5px;
}
.form-control2 {
  width: 60%;
}
// body {
//   background-color: #E6E6E6;
//   color: #616668;
// }
.banner-wrapper {
  height: 100vh;
  background-size: cover !important;
  position: relative
}
.btn {
  background-color: #af0101;
}
.wrong-way {

}
h5{
    font-family: 'Archivo', sans-serif, semi-bold;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    text-align: center;
}
.view{
  min-height: calc(100vh - 100px);
}
