<p class="police-title">Welcome <%= @email %>!</p>

<p class="police-title">You can confirm your account email through the link below:</p>

<p class="police-title"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
